.profile__favorite-wrapper {
  width: 100%;

  @media screen and (width <= 1024px) {
    padding: 15px 0;
  }

  .favorite {
    display: grid;
    gap: 10px 15px;

    @media screen and (width <= 425px) {
      grid-template-columns: repeat(auto-fit, minmax(var(--mobile), 1fr));
    }

    @media screen and (width <= 1024px) and (width > 425px)  {
      grid-template-columns: repeat(auto-fit, minmax(var(--tablet), 1fr));
    }

    @media screen and (width > 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(var(--desktop), 1fr));
    }
  }
}