.nav-bar {
  display: flex;

  @media screen and (width <= 768px) {
    justify-content: space-around;
    padding: 5px 0;
  }

  @media screen and (width > 768px) {
    justify-content: center;
    column-gap: 15px;
  }

  .nav-bar__counter > .counter {
    > svg {
      @media screen and (width <= 768px) {
        width: 26px;
        height: 26px;
      }

      @media screen and (width > 768px) {
        width: 32px;
        height: 32px;
      }
    }
  }
}