.toaster-container {
  z-index: 10000;
  height: 100%;
  max-height: 282px;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 10px;
  row-gap: 8px;
  overflow: hidden;

  @media screen and (width <= 1024px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (width > 1024px) {
    right: 10px;
  }

  .toaster {
    width: 250px;
    display: flex;
    background-color: var(--primary-100);
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    animation: .5s ease-in-out opacity;

    &__name {
      width: 100%;
      color: #fff;
      font-size: 14px;
      user-select: none;
    }

    &__icon {
      width: 20px;
      height: 20px;
      fill: #fff;
      transition: fill .2s ease-in-out;

      &:hover {
        fill: #ccc;
      }
    }
  }
}