.home-wrapper {
  width: 100%;
}
@media screen and (width <= 768px) {
  .home-wrapper {
    scroll-margin-top: 115px;
  }
}
@media screen and (width > 768px) {
  .home-wrapper {
    scroll-margin-top: 95px;
  }
}
@media screen and (width > 1024px) {
  .home-wrapper {
    max-width: 1440px;
    padding: 15px;
  }
}
.home-wrapper .home {
  display: grid;
  align-items: start;
  grid-template-rows: auto auto auto 1fr auto;
}
@media screen and (width <= 1024px) {
  .home-wrapper .home {
    grid-template-areas: "sort filter" "separate separate" "piece piece" "pagination pagination";
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (width > 1024px) {
  .home-wrapper .home {
    grid-template-areas: "filter sort" "filter separate" "filter brick" "filter piece" "filter pagination";
    grid-template-columns: 225px 1fr;
    column-gap: 40px;
  }
}
.home-wrapper .home__sort {
  grid-area: sort;
}
@media screen and (width <= 1024px) {
  .home-wrapper .home__sort {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
  }
}
@media screen and (width > 1024px) {
  .home-wrapper .home__sort .select-wrapper {
    width: 200px;
  }
}
.home-wrapper .home .filter-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.home-wrapper .home__filter {
  grid-area: filter;
}
.home-wrapper .home__filter .filter__header {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}
.home-wrapper .home__filter .filter__header:hover > span {
  color: var(--primary-100);
}
.home-wrapper .home__filter .filter__header:hover > svg {
  fill: var(--primary-200);
}
.home-wrapper .home__filter .filter__header span {
  transition: color 0.2s ease-in-out;
  font-size: 16px;
}
.home-wrapper .home__filter .filter__header svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-100);
  transition: fill 0.2s ease-in-out;
}
@media screen and (width <= 1024px) {
  .home-wrapper .home__filter {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
  }
}
.home-wrapper .home .brick-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 10px;
}
@media screen and (width <= 1024px) {
  .home-wrapper .home .brick-container {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
@media screen and (width > 1024px) {
  .home-wrapper .home .brick-container {
    padding-top: 4px;
    padding-bottom: 8px;
  }
}
.home-wrapper .home .brick-container .brick {
  display: flex;
  align-items: center;
  background-color: var(--primary-100);
  border-radius: 6px;
  padding: 6px 12px;
  column-gap: 4px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
.home-wrapper .home .brick-container .brick:hover {
  box-shadow: 0 0 10px var(--primary-200);
}
.home-wrapper .home .brick-container .brick__name {
  color: #fff;
  font-size: 14px;
}
.home-wrapper .home .brick-container .brick__icon {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.home-wrapper .home__brick {
  grid-area: brick;
}
.home-wrapper .home__separate {
  grid-area: separate;
  border-top: 1px solid #f7f7f7;
  margin-top: 14px;
  padding-bottom: 8px;
}
.home-wrapper .home__piece {
  grid-area: piece;
  display: grid;
  gap: 10px 15px;
}
@media screen and (width <= 425px) {
  .home-wrapper .home__piece {
    grid-template-columns: repeat(auto-fit, minmax(var(--mobile), 1fr));
  }
}
@media screen and (width <= 1024px) and (width > 425px) {
  .home-wrapper .home__piece {
    grid-template-columns: repeat(auto-fit, minmax(var(--tablet), 1fr));
  }
}
@media screen and (width > 1024px) {
  .home-wrapper .home__piece {
    grid-template-columns: repeat(auto-fit, minmax(var(--desktop), 1fr));
  }
}
.home-wrapper .home__pagination {
  grid-area: pagination;
  width: 100%;
}
@media screen and (width <= 1024px) {
  .home-wrapper .home__pagination {
    padding-bottom: 15px;
  }
}

/*# sourceMappingURL=Home.css.map */
