.navigation-wrapper {
  width: 100%;
  display: flex;
  column-gap: 8px;

  @media screen and (width <= 1024px) {
    flex-wrap: wrap;
    padding: 15px;
    gap: 10px;
  }

  @media screen and (width > 1024px) {
    margin-bottom: 15px;
  }

  .navigation {
    font-size: 12px;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    user-select: none;
    cursor: pointer;

    @media screen and (width <= 1024px) {
      border-radius: 6px;
      background-color: #f7f7f7;
      transition-property: color, background-color;
      padding: 6px 10px;

      &:hover {
        background-color: var(--primary-100);
        color: #fff;
      }
    }

    @media screen and (width > 1024px) {
      transition-property: color;

      &:before {
        content: "-";
        color: #a9a9a9;
        margin-right: 8px;
      }

      &:first-child:before {
        content: none;
      }

      &:hover {
        color: var(--primary-100);
      }
    }

    &-current {
      pointer-events: none;
    }
  }
}